body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  text-align: center;
}

.box {
  background: white;
  padding: 15px;
  margin: 15px auto;
  width: 300px;
  border-radius: 5px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}

button {
   width: 50%;
  padding: 8px;

  background: #0eabd2;
  color: white;
  border: none;
  cursor: pointer;

  display: block;        
  margin: 10px auto;     
  border-radius: 25px; 
}
